.main__wrapper.delivery-section {
  display: block;
  padding-top: 96px;
}

.delivery-main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 96px;
  padding-bottom: 100px;
  padding-right: 92px;
  padding-left: 92px;
  margin-bottom: 272px;
  background: $background-primary;
  box-shadow: -14px -14px 30px rgba(35, 33, 58, 0.35),
    16px 5px 40px rgba(4, 5, 14, 0.6);
  border-radius: 12px;
}
.delivery__wrapper {
  margin-right: 144px;
  width: 480px;
}
.delivery__title-main {
  margin-top: 0;
  margin-bottom: 34px;
  font-size: 60px;
  font-weight: 700;
  line-height: 84px;
  color: $text-primary;
  letter-spacing: 0.02em;
}
.delivery__subtitle-main {
  margin-top: 0;
  margin-bottom: 44px;
}
.delivery-way__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 720px;
}

.delivery__subtitle-main,
.delivery__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: $text-secondary;
}
.delivery__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: rgba(163, 163, 163, 1);
}
