.page-header {
  width: 100%;
}
.logo-image {
  margin-right: 21px;
}
.logo-title-img,
.logo-subtitle-img {
  width: 135px;
  height: 28px;
  fill: #d9d9d9;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 95px;
  padding-right: 95px;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 163px;
}
.header__list {
  display: flex;

  align-items: baseline;
  margin: 0;
  padding: 0;
}
.header__element {
  color: #d9d9d9;
}
.header__element:not(:last-child) {
  margin-right: 32px;
}
.header {
  margin-right: 270px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-svg-calculator {
  width: 14px;
  height: 14px;
  stroke: #ab78ff;
}
.nav-btn-calc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: linear-gradient(343.22deg, #181932 -36.39%, #0f111e 72.73%);
  box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.35),
    14px 28px 30px rgba(4, 5, 14, 0.3);
}
.nav-btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ab78ff;
  width: 189px;
  height: 48px;
  background: linear-gradient(343.22deg, #181932 -36.39%, #0f111e 72.73%);
  /* Button/1 */

  box-shadow: -14px -28px 30px rgba(35, 33, 58, 0.35),
    14px 28px 30px rgba(4, 5, 14, 0.3);
  border-radius: 60px;
}
.header__element-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d9d9d9;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 46px;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  transition: color 100ms ease-in-out;
}
.header__element-title:hover,
.header__element-title:focus {
  color: #ab78ff;
}
.header__line {
  background-image: #0d101f;
  width: 100%;
  height: 6px;
  box-shadow: inset -2px -2px 3px rgba(35, 33, 58, 0.5),
    inset 2px 2px 3px rgba(0, 2, 12, 0.5);
  border-radius: 12px;
}
.header__arrow {
  padding-left: 3px;
  width: 16px;
  height: 12px;
  stroke: #d9d9d9;
}
// .header__arrow:hover,
// .header__arrow:focus {
//   color: #ab78ff;
// }
.header__element-title:hover > .header__arrow,
.header__element-title:focus > .header__arrow {
  stroke: #ab78ff;
}
.hidden {
  opacity: 0;
}
.header__slider-title {
  margin-top: 0;
  margin-bottom: 48px;
}
.header__slider-link {
  color: rgba(163, 163, 163, 1);
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
}
