.helper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 256px;
  padding-left: 192px;
  padding-right: 192px;
  padding-bottom: 264px;
}
.helper__title {
  margin-top: 0;
  margin-bottom: 68px;
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
  letter-spacing: 0.02em;
  color: $text-primary;
}
.helper__wrapper {
  display: flex;
}
.helper__input-wrapper {
  position: relative;
  margin-right: 96px;
}
.helper__input-title-name,
.helper__input-title-number,
.helper__textarea-title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 29px;
  color: $text-secondary;
}
#name,
#tel {
  padding-left: 92px;
  color: $text-secondary;
  width: 622px;
  height: 80px;
  border: none;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: $text-inactive;
  background-color: $background-primary;
  box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35),
    10px 10px 30px rgba(4, 5, 14, 0.55),
    inset -5px -6px 20px rgba(35, 33, 58, 0.3),
    inset 5px 6px 20px rgba(0, 2, 12, 0.5);
  border-radius: 120px;
}
#name:placeholder-shown,
#tel:placeholder-shown {
  padding-left: 92px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: $text-inactive;
  opacity: 0.5;
}
#name {
  margin-bottom: 48px;
}
#tel {
  margin-bottom: 52px;
}
.helper__subtitle {
  font-size: 14px;
  line-height: 22px;
  color: $text-secondary;
}
.helper__textarea {
  position: relative;
  padding-left: 92px;
  padding-top: 12px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: $text-inactive;
  width: 531px;
  height: 253px;
  margin-bottom: 48px;
  resize: none;
  background-color: $background-primary;
  border: none;
  box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35),
    10px 10px 30px rgba(4, 5, 14, 0.55),
    inset -5px -6px 20px rgba(35, 33, 58, 0.3),
    inset 5px 6px 20px rgba(0, 2, 12, 0.5);
  border-radius: 24px;
}
.helper__textarea-wrapper {
  position: relative;
}

.helper__textarea:placeholder-shown {
  padding-left: 92px;
  padding-top: 12px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: $text-inactive;
  opacity: 0.5;
}
.helper__btn-qs {
  width: 209px;
  height: 50px;
  font-weight: 500;
  color: $text-primary;
  background-color: $accent-color;
  border: 2px solid $accent-color;
  filter: drop-shadow(-14px -28px 30px rgba(35, 33, 58, 0.35)),
    drop-shadow(14px 28px 30px rgba(4, 5, 14, 0.3));
  border-radius: 120px;
}
.helper__btn-qs,
.helper__form-checkbox-title {
  font-size: 14px;
  line-height: 22px;
}
.helper__btn-qs:active {
  border: 2px solid $accent-color;
  box-shadow: inset 5px 4px 10px rgba(49, 4, 38, 0.5),
    inset -2px -2px 30px rgba(255, 255, 255, 0.2);
  border-radius: 60px;
}
.helper__form-checkbox-title {
  color: $text-secondary;
}
.helper__form-title-link {
  text-decoration: none;
  color: rgba(131, 86, 204, 1);
}
.helper__personal-data {
  display: flex;
}
.helper__form-label {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 20px;
}
#helper__form-checkbox {
  margin-right: 20px;
  position: relative;
}
#helper__form-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(../images/logo/rectangle-40.svg);
  z-index: 101;
}
#helper__form-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url(../images/logo/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}
#helper__form-checkbox.checked::before {
  z-index: 102;
  box-shadow: -12px -10px 30px #23213a, 12px 10px 30px rgba(0, 2, 12, 0.5);
  border-radius: 2px;
}
.textarea-icon {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 8px;
  width: 87px;
  height: 44px;
  background-image: url(../images/logo/textarea-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.textarea-icon::after {
  content: "";
  position: absolute;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.48),
    -14px -28px 30px rgba(35, 33, 58, 0.15), 14px 28px 30px rgba(4, 5, 14, 0.3),
    -6px -6px 30px rgba(35, 33, 58, 0.15), 6px 6px 30px rgba(0, 2, 12, 0.3);
  border-radius: 26px;
}
.name-icon {
  position: absolute;
  z-index: 1;
  top: 230px;
  left: 8px;
  width: 87px;
  height: 44px;
  background-image: url(../images/logo/name-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.name-icon::after {
  border: 3px solid $icon-primary;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.48),
    -14px -28px 30px rgba(35, 33, 58, 0.15), 14px 28px 30px rgba(4, 5, 14, 0.3),
    -6px -6px 30px rgba(35, 33, 58, 0.15), 6px 6px 30px rgba(0, 2, 12, 0.3);
}
.tel-icon {
  position: absolute;
  z-index: 1;
  top: 60px;
  left: 8px;
  width: 87px;
  height: 44px;
  background-image: url(../images/logo/tel-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.tel-icon::after {
  border: 3px solid $icon-primary;
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.48),
    -14px -28px 30px rgba(35, 33, 58, 0.15), 14px 28px 30px rgba(4, 5, 14, 0.3),
    -6px -6px 30px rgba(35, 33, 58, 0.15), 6px 6px 30px rgba(0, 2, 12, 0.3);
}
// .custom-select {
//   position: relative;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 178px;
//   // height: 60px;
// }
// .custom-select select {
//   display: none;
// }
// .select-selected {
//   position: relative;
//   display: flex;
//   align-items: center;
//   width: 160px;
//   height: 60px;
//   background-color: $background-primary;
//   box-shadow: -10px -10px 30px rgba(35, 33, 58, 0.35),
//     10px 10px 30px rgba(4, 5, 14, 0.55),
//     inset -5px -6px 20px rgba(35, 33, 58, 0.3),
//     inset 5px 6px 20px rgba(0, 2, 12, 0.5);
//   border-radius: 34px;
// }
// .select-selected::after {
//   content: "";
//   position: absolute;
//   top: 15px;
//   left: 95px;
//   height: 36px;
//   width: 2px;
//   background-image: url(../images/logo/divider.svg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   box-shadow: -1px -2px 4px rgba(35, 33, 58, 0.6),
//     1px 2px 4px rgba(4, 5, 14, 0.8);
// }
// .selected-title::after {
//   position: absolute;
//   content: "";
//   top: 14px;
//   right: 10px;
//   width: 0;
//   height: 0;
//   border: 6px solid transparent;
//   border-color: #fff transparent transparent transparent;
// }
// .select-selected.select-arrow-active:after {
//   border-color: transparent transparent #fff transparent;
// }
// .select-items div,
// .select-selected {
//   color: $accent-color;
//   border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//   cursor: pointer;
// }
// .select-items {
//   position: absolute;
//   background-color: DodgerBlue;
//   top: 100%;
//   left: 0;
//   right: 0;
//   z-index: 99;
// }
// .select-hide {
//   display: none;
// }
// .select-items div:hover,
// .same-as-selected {
//   background-color: rgba(0, 0, 0, 0.1);
// }
// .select-form__wrapper {
//   display: flex;
//   align-items: center;
// }
