.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.main__article {
  height: 700px;
  width: 100%;
  border-radius: 60px;
  background-image: url(/images/intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}
// .main__article:not(:last-child) {
//   margin-right: 96px;
// }
